
.label-form {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2E7D32; 
}


.textfield-red {
    -fx-border-color: #C62828;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 6;
    -fx-pref-width: 220px;   
    -fx-pref-height: 30px;
    -fx-effect: dropshadow(gaussian, gray, 4, 0.3, 2, 2);
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;          
    -fx-font-weight: bold;           
    -fx-font-size: 14px;    
    -fx-background-color: #2E7D32;          
}

.button-green {
    -fx-background-color: #2E7D32;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-pref-width: 160px;
    -fx-pref-height: 35px;
    -fx-effect: dropshadow(gaussian, gray, 4, 0.3, 2, 2);
    -fx-cursor: hand;
}

.button-green:hover {
    -fx-background-color: #1B5E20;
}


.button-round {
    -fx-background-color: #C62828;
    -fx-background-radius: 50%;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-effect: dropshadow(gaussian, gray, 4, 0.3, 2, 2);
    -fx-cursor: hand;
}

.button-round:hover {
    -fx-background-color: #b71c1c;
}
